:root {
  --c-white-rgb: 255, 255, 255;
  --c-nav-active: 100%;
  --c-nav: 50%;
  --c-nav-hover: 75%;
  --c-alpha: var(--c-nav);
  --c-login: #39748c;
  --c-white: #fff;
  --c-grey: #4b4e53;
}

html {
  scroll-behavior: smooth;
}

/* header and nav layout */
header {
  position: sticky;
  z-index: 1;
}

header .header {
  background-color: var(--header-background-color);
  height: var(--nav-height);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand brand hamburger' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  background-color: var(--header-background-color);
  font-family: var(--body-font-family);
}

header .header.transparent,
header .header.transparent nav {
  background-color: transparent;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* stylelint-disable-next-line color-function-notation */
  color: rgba(var(--c-white-rgb), var(--c-alpha));
}

header nav[aria-expanded=true] .nav-hamburger {
  --c-alpha: var(--c-nav-active);
}

header nav .nav-hamburger button {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

header nav[aria-expanded="true"] .nav-hamburger button {
  background-color: var(--c-grey);
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::before,
header nav[aria-expanded=false] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::before,
header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-xs);
  line-height: 3.5;
  display: flex;
  flex-direction: column;
  margin: auto -1rem;
}

header nav .nav-sections ul > li,
header nav .nav-sections ul > li *:not(strong, [target]) {
  background-color: var(--c-grey);
}

header nav[aria-expanded=true] .nav-sections ul li {
  border-block-end: 1px solid var(--c-white);
  display: inline-flex;
  padding-inline-start: 1rem;
  /* stylelint-disable-next-line color-function-notation */
  color: rgba(var(--c-white-rgb), var(--c-alpha));
}

header nav[aria-expanded=true] .nav-sections li:is(.active, :has([target])) {
  --c-alpha: var(--c-nav-active);
}

header nav[aria-expanded=true] .nav-sections ul li:has([target='_blank']) {
  order: -1;
  background-color: var(--c-login);
}

header nav .nav-sections ul a {
  display: inline-block;
  width: 100%;
  height: auto;
  font-weight: 100;
}

@media (min-width: 600px) {
  /* header and nav layout */
  header nav {
    padding: 0 2rem;
  }

  /* sections */
  header nav .nav-sections ul  {
    margin: auto -2rem;
  }
}

@media (min-width: 992px) {
  /* header and nav layout */
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
  }

  header nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
  }

  /* hamburger */
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  /* sections */
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded=true] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded=true]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    line-height: inherit;
    flex-direction: initial;
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    padding: 0.5rem 0.6rem;
    background-color: inherit;
  }

  header nav[aria-expanded=true] .nav-sections ul li {
    border-block-end: none;
  }

  header nav[aria-expanded=true] .nav-sections ul li:has([target='_blank']) {
    order: initial;
  }

  header nav .nav-sections ul > li *:not(strong, [target]),
  header nav[aria-expanded=true] .nav-sections ul li:has([target='_blank']) {
    background-color: inherit;
  }

  header nav .nav-sections ul a {
    /* stylelint-disable-next-line color-function-notation */
    color: rgba(var(--c-white-rgb), var(--c-alpha));
    font-weight: inherit;
  }

  header nav .nav-sections ul .active a {
    --c-alpha: var(--c-nav-active);
  }

  header nav .nav-sections ul .active a::after {
    border-bottom: 2px solid #70be5e;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
  }

  header nav .nav-sections ul :not(.active):hover a {
    --c-alpha: var(--c-nav-hover);
  }

  header nav .nav-sections ul :hover {
    text-decoration: none;
  }

  header nav .nav-sections .button {
    background-color: var(--c-login);
    border-color: var(--c-login);
    color: var(--c-white);
    font-weight: 500;
    border-radius: unset;
    margin-block-end: 8px;
  }
}

@media (min-width: 1200px) {
  header nav {
    max-width: 1200px;
    padding: 0;
  }
}
