@import url('./scroll-button.css');

.hero-container {
    padding: 0 !important;
    font-family: var(--hero-text-font-family);
    max-width: 540px;
    margin: 0 auto;
}

.hero-wrapper {
    max-width: max-content;
    width: 100%;
    box-sizing: border-box;
}

.hero {
    padding: 0 15px;
}

.hero picture {
    background-size: cover;
    position: absolute;
    z-index: -2;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 353px;
}

.hero h1 {
   font-family: var(--heading-font-family);
   text-transform: uppercase;
   font-size: var(--heading-font-size-xl);
   line-height: 50px;
   font-weight: 500;
   margin-bottom: 9px;
   margin-top: 0;
   padding-top: 150px;
}


.hero h2 {
    font-family: var(--hero-text-font-family);
    font-size: var(--heading-font-size-s);
}

.hero h1 + h3 {
    font-family: var(--hero-text-font-family);
    font-size: var(--heading-font-size-xs);
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 18px;
    letter-spacing: 0.4px;
    margin-top: 0;
    padding-right: 15px;
}

.hero div:first-child div {
    height: 353px;
}

.hero div:last-child div {
    font-size: var(--body-font-size-m);
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 18px;
    margin-top: 0;
    padding-right: 15px;
}

.hero div div p:first-child {
    margin: 0;
    margin-top: 70px;
}

.hero.heromain div:first-child div {
    height: 100%;
}

@media (min-width: 575px) {
    .hero h1 {
        font-size: calc(var(--heading-font-size-xxl) * 1.05);
        line-height: 54px;
    }

    .hero h1 + h3 {
        font-size: calc(var(--heading-font-size-xs) * 1.1);
        line-height: 27px;
    }

    .hero img,
    .hero div:first-child div {
        height: 380px;
    }

    .hero div:last-child div {
        font-size: calc(var(--body-font-size-s) * 1.1);
        line-height: 27px;
    }
}

@media (min-width: 768px) {
    .hero-container {
        max-width: 720px;
        margin: 0 auto;
    }

    .hero {
        padding: 0 15px;
    }

    .hero h1 {
        font-size: calc(var(--heading-font-size-xl) * 1.15);
        line-height: 60px;
    }

    .hero h1 + h3 {
        font-size: var(--heading-font-size-xs);
        line-height: 30px;
    }

    .hero img,
    .hero div:first-child div {
        height: 372px;
    }

    .hero div:last-child div {
        font-size: calc(var(--body-font-size-s) * 1.1);
        line-height: 30px;
    }
}

@media (min-width: 992px) {
    .hero-container {
        max-width: 992px;
    }

    .hero-container::before {
        content: '';
        /* stylelint-disable-next-line color-function-notation */
        background: linear-gradient(180deg, var(--header-background-color) 0%,rgba(28, 39, 53, 0%) 70%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 350px;
        width: 100%;
    }

    .hero-container::after {
        content: '';
        /* stylelint-disable-next-line color-function-notation */
        background: linear-gradient(0deg, var(--header-background-color) 0%,rgba(28, 39, 53, 0%) 70%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 350px;
        width: 100%;
        transform: translateY(15px);
    }

    .hero {
        margin-top: 80px;
        min-height: calc(100vh - 80px);
        width: 40%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero div:first-child div {
        height: auto;
    }

    .hero div div p:first-child {
        margin: 0;
    }

    .hero h1 {
        font-size: calc(var(--heading-font-size-xl) * 0.9);
        line-height: calc(var(--heading-font-size-xl) * 0.9);
        padding-top: 0;
    }

    .hero h2 {
        font-size: calc(var(--heading-font-size-m));
        line-height: calc(var(--heading-font-size-s) * 1.2);
    }

    .hero h1 + h3 {
        font-size: var(--heading-font-size-s);
        line-height: 33px;
    }

    .hero div:last-child div {
        font-size: calc(var(--body-font-size-s) * 1.1);
        padding: 0;
    }

    .hero picture {
        top: 0;
    }

    .hero img {
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .hero-container {
        max-width: 1200px;
    }

    .hero {
        padding: 0;
    }
}
